**/TemasPdf/
*.odt
*.txt
*.ott
*.docx
*.mkv
*.mp4
*.zip
*.rar
*.iso
*.exe
*.code-workspace
**/JRE/

/MODULOS/Programacion multimedia y dispositivos moviles/Segundo trimestre/T11-T12 Unity/
/MODULOS/Desarrollo de interfaces/Segundo Trimestre/T11/Ejer_1/target/
