**/TemasPdf/
*.odt
*.txt
*.ott
*.docx
*.mkv
*.mp4
*.zip
*.rar
*.iso
*.exe
*.code-workspace
/MODULOS/Desarrollo de interfaces/T4/ejemploImportar/target/
/MODULOS/Desarrollo de interfaces/T4/Ejer_1/target/
/MODULOS/Desarrollo de interfaces/T4/Ejer_2_Elecciones/target/
/MODULOS/Desarrollo de interfaces/T4/Ejer_3_MejorandoDiseno/target/
/MODULOS/Desarrollo de interfaces/T4/Ejer_4_Claro_Oscuro/target/
/MODULOS/Desarrollo de interfaces/T4/Ejer_4_4_Cronometro/target/
/MODULOS/Desarrollo de interfaces/T5/Ejer1_Evento/target/
/MODULOS/Programacion de servicios y procesos/Primer trimestre/T4-T5/Ejer_1/target/
/MODULOS/Programacion de servicios y procesos/Primer trimestre/T4-T5/Ejer_2/target/
/MODULOS/Programacion de servicios y procesos/Primer trimestre/T4-T5/Ejer_3/target/
/MODULOS/Programacion de servicios y procesos/T4-T5/Ejer_4/target/
/MODULOS/Programacion de servicios y procesos/T4-T5/Ejer_5/target/
/MODULOS/Programacion de servicios y procesos/T4-T5/Ejer_6/target/
/MODULOS/Desarrollo de interfaces/T5/Ejer2_mecanografia/target/
/MODULOS/Desarrollo de interfaces/T5/Ejercicio_evaluable_3/target/
/MODULOS/Programacion de servicios y procesos/Primer trimestre/T4-T5 Hilos/Ejer_7/target/
/MODULOS/Programacion de servicios y procesos/ejer0_problema_productor_consumidor/target/
/MODULOS/Programacion de servicios y procesos/Primer trimestre/T6 Sincronización varios hilos/ejer1_problemaConsumidor_SINCRONIZADO/target/
/MODULOS/Programacion de servicios y procesos/Primer trimestre/T6 Sincronización varios hilos/ejer2_cena_filosofos/target/
