<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>E:\GitHub\2-DAM\MODULOS\Desarrollo de interfaces\Segundo Trimestre\T11\programa exe Ejer_1\Ejer_1-1.0-SNAPSHOT-jar-with-dependencies.jar</jar>
  <outfile>E:\GitHub\2-DAM\MODULOS\Desarrollo de interfaces\Segundo Trimestre\T11\programa exe Ejer_1\programa.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>JRE</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>