<hibernate-configuration>
    <session-factory>
        <!-- Propiedades de conexión a la BBDD-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/EjercicioProductos</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>

        <!-- Mapeo de entidades -->
       <mapping resource="producto.hbm.xml"/>
   </session-factory>
</hibernate-configuration> 


